<div class="m-4 rounded-xl bg-background p-4">
  <div class="flex flex-col items-start justify-between gap-4 md:flex-row md:items-center">
    <div>
      <h1 class="text-2xl font-bold text-foreground">Gestión Colaboradores</h1>
      <p class="text-sm text-muted-foreground">Administracion de colaboradores</p>
    </div>
  </div>
  <div class="mt-3">
    <p-table #dt [value]="usuarios" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '50rem' }"
      [rowsPerPageOptions]="[5, 10, 20]" styleClass="p-datatable-striped" class="text-xs">
      <ng-template pTemplate="caption">
        <div class="flex items-center justify-center font-montserrat">
          <app-button impact="bold" tone="primary" shape="rounded" class="m-4" size="small"
            (click)="abrirModalCrearUsuario()">
            <div class="text-clamp(14px,2vw,28px) flex items-center gap-2 md:py-1.5 lg:py-1.5">
              <i class="pi pi-user-plus"> </i>
              <h1>Nuevo colaborador</h1>
            </div>
          </app-button>
          <p-iconField iconPosition="left" class="ml-auto">
            <input pInputText type="text" (input)="dt.filterGlobal(searchValue.trim(), 'contains')"
              placeholder="Buscar colaborador"
              class="w-[10rem] border font-montserrat placeholder:text-xs placeholder:text-gray-400 lg:w-[24rem] lg:text-sm"
              [style]="{ height: '40px', 'border-radius': '0.5rem' }" />
          </p-iconField>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Identificacion</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Perfil</th>
          <th class="text-center">Area</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Fecha Ingreso</th>
          <th class="text-center">Fecha salida</th>
          <th class="text-center">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-usuarios>
        <tr >
          <td class="p-1 text-center">{{ usuarios.id }}</td>
          <td class="text-center">{{ usuarios.nombre }}</td>
          <td class="text-center">{{ usuarios.identificacion }}</td>
          <td class="text-center">{{ usuarios.correo }}</td>
          <td class="text-center">{{ usuarios.rol }}</td>
          <td class="text-center">{{ usuarios.area }}</td>
          <td class="text-center">{{ usuarios.estado }}</td>
          <td class="text-center">{{ usuarios.fechaIngreso }}</td>
          <td class="text-center">{{ usuarios.fechaSalida }}</td>
          <td class="flex justify-center gap-2 text-center">
            <app-button impact="bold" tone="primary" shape="rounded" class="text-center" size="small" (click)="redireccionar('/rrhh/colaboradores/actualizar')">
              <span class="flex items-center"><i class="pi pi-eye mr-1 text-sm"> </i> Ver detalle</span>
            </app-button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="visibleCrearUsuario" [modal]="true" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [draggable]="false" [resizable]="false" (onHide)="visibleCrearUsuario = false" [contentStyleClass]="'bg-background'"
  [styleClass]="'font-montserrat text-xs w-[33%]'" [showHeader]="false"
  [contentStyle]="{ overflow: 'auto', 'border-radius': '0.5rem' }" closable="true" closeOnEscape="true">
  <app-crear-usuario [visible]="visibleCrearUsuario" (cerrar)="visibleCrearUsuario = false"> </app-crear-usuario>
</p-dialog>